nav {
    background-color:azure;
}
h1 {
    text-transform: lowercase;
}
h3 {
    text-transform: uppercase;
}

li {
    list-style-type: none;
}

.headshot {
    width: 200px;
    object-fit: cover;
}

.about-img {
    max-width: 100%;
}